<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" strict="true" monitorInterval="30">
	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="%d %-5p %M %logger{1} >> %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>